@page
@model FoodManagement.Pages.Login.LogoutModel
@{
}
<div class="container py-5">
    <h3>Đang đăng xuất…</h3>
    <p>Nếu trình duyệt không chuyển hướng tự động, bấm <a asp-page="/Login/Login">vào đây</a>.</p>
</div>
